body {
    margin: 0;
    background: url(curtain.jpg) no-repeat center center; 
    background-size: cover; 
    background-attachment: fixed; 
    font-family: 'Poppins', sans-serif;
}



.navbar {
    display: flex;
    align-items: center;
    background-color: rgb(204,6,6);
    padding: 10px 20px;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 1000%;
    margin-bottom: 30%;
    
}
.nav-container {
    display:flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
}
.logo-container {
    display: flex;
    align-items: center;
}
.logo {
    width: 120px;
    height: 80px;
    margin-right: 5px;
}
nav {
    display: flex;
    align-items: center;
}
nav a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    margin: 0 18px;
    padding:10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover {
    background-color: black; /* Change background to black when hovered */
    color: white; /* Ensure text color stays white on hover */
}
#notifBox {
    width: 30px;  /* Set a smaller width */
    height: 30px;  /* Set a smaller height */
    margin-left: 990px; 
    object-fit: cover;  /* Maintain aspect ratio */
}

#notifBox:hover {
    filter: brightness(3.7);
    -webkit-filter: brightness(3.7);
}

#schedule {
    background-color: black;

}
#profileBox {
    width: 40px;
    height: 40px;
    margin-left: 15px;
    object-fit: cover;
}

#profileBox:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
}
/* Right side of navbar */
.nav-right {
    display: flex;
    align-items: center;
}

/* Make the navigation responsive */
@media (max-width: 768px) {
    nav {
        display: none; /* Hide the nav links on small screens */
    }
    
    .nav-left img {
        width: 90px;
        height: 60px;
    }
}
@media (max-width: 768px) {
    .navbar {
        height: auto;
        padding: 15px;
    }

    nav a {
        margin: 0 10px;
    }

    .search-form {
        width: 100%;
    }

    .footer-col {
        width: 50%;
    }
}

/*NEXT BUTTON */
.Button{
    /*PANO ILAGAY ANG BUTTON SA KANAN?*/
    display: flex;
    justify-content: flex-end;


    border-radius: 14%;
    position: relative;
    padding: 20px;
    margin-right: 10%;
    margin-bottom: 0%;
      

}
.Button button{
    color: rgb(255, 255, 255);
    font-size: 100%;
    background-color: rgb(226, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 20px;
    border-radius: 10px;
}



body2{
   
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(187, 216, 1);
    color: #333;
    line-height: 1.6;
    
}
.box{
    color: white;
    max-width: 1000px;
    margin: 10px auto;
    margin-top: 80px;
    height:50% ;
    padding: 20px;
    background-color: darkred;
    border-radius: 8px;
    box-shadow: #161616;
  
}
.movie-box{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;

}
.movie-info {
    flex: 2;
    margin-left: 20px;
}
/*INFO TEXT FOR BG BACKGROUND*/

/* Payment method styling */
.payment-method {
    margin-top: 20px;
}

.payment-button {
    background-color: #111010;
    box-shadow: #161616;
    color: white;
    border: none;
    padding: 15px 45px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
}

.payment-button:hover {
    background-color: #722608;
   
}
.payment-button:focus{
    background-color: #722608;
    outline: #ddffe0;
}

/* Payment summary styling */
.payment-summary {
    border-top: 1px solid #ddd;
    background-image: url(paymentpaper.jpg);
    
}

.movie-info h2 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #ffffff;
    font-family: 'Georgia', serif;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.payment-summary  .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.action-buttons {
    margin-top: 110px;
    position: relative;
}
.action-buttonstext {
    font-size: 10px; 
    display: flex; 
    align-items: center; 
    margin-left: 80%;
}

.action-buttonstext input {
    margin-right: 5px; 
}

.action-buttonstext label {
    font-size: 10px; 
}

.cancel{
    background-color: #ffffff; /* Red color for cancel */
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    margin-left: 80%;

}

.pay {
    background-color: #ffffff; /* Red color for cancel */
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px ;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;


}

.cancel:hover {
    background-color: #ff5353;
}

.pay {
    background-color: #ddffe0; 
}

.pay:hover {
    background-color: #64ff6a8e;
}
.right-summary {
   display: flex;
   justify-content: flex-end;
   border: 2px solid #ffffff56;
   padding: 20px;

}


/*----------------------------------------footer-------------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    line-height: 1.5;
    font-family: 'Poppins',sans-serif;
}

.container{
    max-width: 1170px;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer{
    box-sizing: border-box;
    background-color: black;
    padding: 70px 0;
}
.footer-col {
    width: 25%;
    padding : 0 15px
}
.footer-col h4{
    font-size:18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;

}
.footer-col h4::before{
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbb;
    display:block;
    transition: all 0.3s ease ;
    -webkit-transition: all 0.3s ease ;
    -moz-transition: all 0.3s ease ;
    -ms-transition: all 0.3s ease ;
    -o-transition: all 0.3s ease ;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: incline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
    color:#24262b;
    background-color: #ffffff;

}

/*-----responsive--------*/
@media(max-width:574px){
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
       
    }
}

/*----------------------------------------------------------------------------------*/